@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar .container-fluid {
  background-color: #202f41;
  border: 5px solid #202f41;
}

h2 {
  text-align: center;
  margin-top: 30px;
  color: #202f41;
}

h3 {
  color: #202f41;
}

.chiken {
  width: 30%;
  height: 30px;
  float: right;
  top: 80%;
  padding-right: 2rem;
}

article {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 15px solid white;
}

.image {
  height: 60px;
  border-radius: 50%;
}

.image {
  height: 60px;
  border-radius: 50%;
}

.texto {
  font-family: 'Times New Roman', Times, serif;
  color: #202f41;
}

body,
html {
  height: 100%;
}

/* The hero image */
.hero-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/farm5.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/farm5.jpg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-style: solid;
  border-color: #202f41;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 31%;
  color: white;
}

/* Footer */
h4 {
  color: #98AC33;
}

.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #202f41;
}

.inner_footer {
  display: block;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

.inner_footer .logo_container {
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.inner_footer .logo_container img {
  width: 150px;
  height: auto;
}

.inner_footer .footer_third {
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner_footer .footer_third:last-child {
  margin-right: 0;
}

.inner_footer .footer_third h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #98AC33;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner_footer .footer_third a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #98AC33;
  display: block;
  font-weight: 200;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

@media screen and (max-width: 490px) {
  .footer {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    width: 100%;
  }
}

body {
  margin-top: 20px;
}

.card-big-shadow {
  max-width: 320px;
  position: relative;
}

.coloured-cards .card {
  margin-top: 30px;
}

.card[data-radius="none"] {
  border-radius: 0px;
}

.card {
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.card[data-background="image"] .title,
.card[data-background="image"] .stats,
.card[data-background="image"] .category,
.card[data-background="image"] .description,
.card[data-background="image"] .content,
.card[data-background="image"] .card-footer,
.card[data-background="image"] small,
.card[data-background="image"] .content a,
.card[data-background="color"] .title,
.card[data-background="color"] .stats,
.card[data-background="color"] .category,
.card[data-background="color"] .description,
.card[data-background="color"] .content,
.card[data-background="color"] .card-footer,
.card[data-background="color"] small,
.card[data-background="color"] .content a {
  color: #FFFFFF;
}

.card.card-just-text .content {
  padding: 50px 65px;
  text-align: center;
}

.card .content {
  padding: 20px 20px 10px 20px;
}

.card[data-color="blue"] .category {
  color: #7a9e9f;
}

.card .category,
.card .label {
  font-size: 14px;
  margin-bottom: 0px;
}

.card-big-shadow:before {
  background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  bottom: -12%;
  content: "";
  display: block;
  left: -12%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

h4,
.h4 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2em;
}

h6,
.h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

.card .description {
  font-size: 16px;
  color: #66615b;
}

.content-card {
  margin-top: 30px;
}

a:hover,
a:focus {
  text-decoration: none;
}

/*======== COLORS ===========*/
.card[data-color="blue"] {
  background: #b8d8d8;
}

.card[data-color="blue"] .description {
  color: #506568;
}

.card[data-color="green"] {
  background: #d5e5a3;
}

.card[data-color="green"] .description {
  color: #60773d;
}

.card[data-color="green"] .category {
  color: #92ac56;
}

.card[data-color="yellow"] {
  background: #ffe28c;
}

.card[data-color="yellow"] .description {
  color: #b25825;
}

.card[data-color="yellow"] .category {
  color: #d88715;
}

.card[data-color="brown"] {
  background: #d6c1ab;
}

.card[data-color="brown"] .description {
  color: #75442e;
}

.card[data-color="brown"] .category {
  color: #a47e65;
}

.card[data-color="purple"] {
  background: #baa9ba;
}

.card[data-color="purple"] .description {
  color: #3a283d;
}

.card[data-color="purple"] .category {
  color: #5a283d;
}

.card[data-color="orange"] {
  background: #ff8f5e;
}

.card[data-color="orange"] .description {
  color: #772510;
}

.card[data-color="orange"] .category {
  color: #e95e37;
}
/* PAGE NOSOTROS */
body,
html {
  height: 100%;
}

.hero-image-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../img/us.jpeg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/us.jpeg");
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text-1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

h3 {
  color: #98AC33;
}

.footer__nosotros {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 80px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #202f41;
}

.inner_footer__nosotros {
  display: block;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

.inner_footer__nosotros .logo_container__nosotros {
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.inner_footer__nosotros .logo_container__nosotros img {
  width: 150px;
  height: auto;
}

.inner_footer__nosotros .footer_third_nosotros {
  width: calc(21.6666666667% - 20px);
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner_footer__nosotros .footer_third:last-child {
  margin-right: 0;
}

.inner_footer__nosotros .footer_third_nosotros h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #98AC33;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner_footer__nosotros .footer_third_nosotros a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #98AC33;
  display: block;
  font-weight: 200;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
/*# sourceMappingURL=style.css.map */